@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&display=swap');
/* //impact? */
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
#new-footer{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color:#b874df;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    
}
.footer-items{
    display: flex;
    flex-flow: row;
    font-size: 53px;
    font-family: 'Archivo Black', sans-serif;
    padding: 1rem;
    align-items: center;
    padding-left: 55px;
    padding-right: 0px;
}
#home{
    color: black;
    text-decoration: none;
}
#home:hover{
    text-decoration: underline black;
}
#favs{
    color: black;
    text-decoration: none;
}
#favs:hover{
    color: black;
    text-decoration: underline black;
}

.login-logout-divider{
    font-size: 65px;
    
}

#login{
    text-decoration: none;
}
#login:hover{
    cursor: pointer;
    text-decoration: underline black;
}
/* footer-items::before {} */
.login-logout-area{
    display: flex;
    align-items: center;
    padding-left: 50px;
    
    
}
#user-profile-pic{
    width: 60px;
    margin-bottom: 5px;
    margin-left: 10px;
}

#logout:hover{
    cursor: pointer;
    text-decoration: underline black;
}

.copyright-items{
    display: flex;
    flex-direction: column;
    text-align: center
}

#copyright{
    font-weight: lighter;
    font-size: 13px;
    white-space: nowrap;
}
#copyright-img{
    height: 80px;
    object-fit: contain;
    padding-top: 10px;
}
/* media queries */

@media (max-width: 992px) {
    .footer-options{
        font-size: 40px;
    }
    #user-profile-pic{
        width: 60px;
        margin-left: 30px;
        margin-top: 25px;
    }
}

@media (max-width: 767px){
    .footer-options{
        font-size: 14px;
    
    }
    .login-logout-divider{
        display: none;
    }
}

@media (max-width: 575px) {
    .footer-items{
        justify-content: center;
    }
    
    .footer-options{
        font-size: 20px;
    }
    .copyright-items{
        text-align: center;
    }
    #user-profile-pic{
        width: 60px;
        margin-left: 30px;
        margin-top: 25px;
    }
    
}

@media (min-width:993px){
    .footer-options{
        font-size: 40px;
    }
}



