#rate-place{
    color: purple;
    align-self: flex-end;
    margin-top: 10px;
    padding: 5px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    font-size: 25px;
    z-index: 1px;
}

/* #please-login-reg-div{
    
} */


#please-login-fake-modal{
    color: black;
    font-size: 25px;
    width: 380px;
    transition: all 0.5s ease-in;
    padding-top: 5px;
    padding-left: 30px;
    padding-right: 15px;
    padding-bottom: 175px;
    background-color: white;
    position: absolute;
    right: 150px;
    z-index: 100;
    bottom: -300px;
    height: 120px;
    border-radius: 20px;
    box-shadow: 0px 0px 1px 5000px rgba(0,0,0,0.8);
} 

#close-icon{
    margin-left: 285px;
    width: 15%;
    cursor: pointer;
}

/* media queries */
@media (max-width: 575px) {
    #please-login-fake-modal{
        right: 150px;
    }
}

@media (max-width: 993px) {
    #please-login-fake-modal{
        right: 50px;
    }
}